dist/*
node_modules/*
logs/*
DB/*
src/migrations/*
uploads/req-transactions/*
uploads/qa-req-transactions/*
*.log
.env
.env.cache.example
EXT/*
src/migrations/*
tsconfig.tsbuildinfo
package-lock.json
uploads/*
!uploads/UPLOAD-TEMPLATE/
!uploads/profile_pics/default_profile.jpg